@import '~antd/dist/antd.less';

.editor__explorer {
  width: 25%;
}

.editor__canvas {
  width: 50%;

  display: flex;
  flex-direction: column;

  user-select: none;
}

.editor__toolbar {
  height: 35px;
}

.editor__inspector {
  width: 25%;
}

#canvas-root {
  flex: 1;
}

.canvas-root_tool_hand {
  cursor: grab;
}

.canvas-root_tool_zoom.canvas-root_feature-direction_in {
  cursor: zoom-in;
}

.canvas-root_tool_zoom.canvas-root_feature-direction_out {
  cursor: zoom-out;
}
