@import '../../../../../../themes/index.less';

.animation-editor__list_inactive.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
.animation-editor__list_inactive.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background: @inactive-bg;
}

.animation-editor__list_inactive.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: inherit;
}

.animation-editor__list_inactive.ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-switcher {
  color: inherit;
}

.animation-editor__list-item_initial {
  margin-right: 5px;
}

.animation-editor__list-suffix {
  color: @secondary-text;
}

.ant-tree-treenode-selected .animation-editor__list-suffix {
  color: inherit;
}
