@import '../../../../themes/index.less';

.entity-list {
  margin: 10px 0;
}

.entity-picker {
  display: flex;

  margin-top: 10px;
}

.entity-picker__select {
  width: 100%;
}

.entity-picker__button {
  flex-shrink: 0;

  margin-left: 5px;
}

.entity-form {
  text-align: center;
}

.entity-list__holder {
  padding: 2px 1px;
  border-radius: 1px;

  margin-right: 3px;
}

.entity-list__holder:hover {
  background-color: @select-bg-hover;
  box-shadow: 0 0 0 2px @select-bg-hover;
}

.entity-list__holder:active {
  background-color: @select-bg-active;
  box-shadow: 0 0 0 2px @select-bg-active;
}

.entity-list .entity-list__holder:hover {
  cursor: grab;
}
