body {
  display: flex;

  margin: 0;

  width: 100vw;
  height: 100vh;

  font-family: sans-serif;
}

#explorer-root {
  width: 25%;
}

#canvas-root {
  width: 50%;
}

#inspector-root {
  width: 25%;
}