body {
  display: flex;

  margin: 0;

  width: 100vw;
  height: 100vh;

  font-family: sans-serif;
}

#explorer-root {
  width: 25%;
}

.canvas {
  width: 50%;

  display: flex;
  flex-direction: column;
}

#toolbar-root {
  height: 35px;
}

#canvas-root {
  flex: 1;
}

#inspector-root {
  width: 25%;
}