@import '../../themes/index.less';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 35px;
  padding: 0 5px;

  border-bottom: 1px solid @panel-border;
}

.toolbar__tools.ant-radio-group {
  flex-shrink: 0;

  padding-right: 8px;
  margin-right: 8px;
  
  border-right: 1px solid @fieldset-border;
}

.tool-features {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  flex: 1;
}
