.collapse-panel.ant-collapse {
  margin: 5px 0;
}

.collapse-panel.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding-top: 2px;
  padding-bottom: 2px;
}

.collapse-panel .ant-collapse-content > .ant-collapse-content-box {
  padding: 5px;
}

.collapse-panel .ant-collapse-header-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  padding-right: 5px;
}
